.noir {
	background-color: #191A1A;
} 
/*poisition des footer et liens */
#footer-liens{
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom:0;
	/* justify-content: flex-end; */
	/* align-items: flex-end; */
	z-index: 500;
	margin: 0;
	margin-top: auto;
	/* align-items: center; */
	/* height: 10vh; */
	width: 100%;
	background-color:#191A1A;
	/* background-color: #44b441; */
	color: #ccc;
}



/* position des logos */
#logosBottomNavBar{
    display: flex;
    justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	left-padding: 20px;
	right-padding: 30px;
    /* width: 15%; */
}


/*customusation pour understrap-child-main
----------------------------------*/
 @font-face {
	font-family: "infini-picto";
	src: url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/eot/infini-picto.eot");
	src: url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/eot/infini-picto.eot?#iefix") format("embedded-opentype"),
	 url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/woff2/infini-picto.woff2") format("woff2"),
	 url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/woff/infini-picto.woff") format("woff"),
	 url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/ttf/infini-picto.ttf") format("truetype"),
	 url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/svg/infini-picto.svg#svgwpf") format("svg"),
	 url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/otf/infini-picto.otf") format("otf");
}

@font-face {
	font-family: "infini";
	src: url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/eot/infini-romain.eot");
	src: url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/eot/infini-romain.eot?#iefix") format("embedded-opentype"),
	 url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/woff2/infini-romain.woff2") format("woff2"),
	 url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/woff/infini-romain.woff") format("woff"),
	 url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/ttf/infini-romain.ttf") format("truetype"),
	 url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/svg/infini-romain.svg#svgwpf") format("svg"),
	 url("https://ecopoetique.huma-num.fr/wp-content/themes/understrap-child-main/webfonts/otf/infini-romain.otf") format("otf");
	font-weight: normal;
	font-style: normal;	
}


.site-title{
		color:black
}

a.site-title{color:green;}

.site-footer{
	 text-align: right;
	 padding: 3%;
}
h1 {
  padding-left: 20px;
}
.container-fluid{
	  padding-left: 0 0 0 0;
	
}


.site-branding{
	display:flex;
	flex-direction: column;
	align-items:flex-start;
	margin-top:-25px;
	padding-top:5px;
}





